

body {
   background-image: url(https://static.mijnwebwinkel.nl/winkel/applicatieenzo/image/cache/full/67a169c09533fc844616d739b950ddb6d3cb42fb.jpg) ;

 }
 h1 {
    color:black;
    text-align: center;
   

 }

 h2 {
    color: darkblue  ;
    text-align: left;
}

 p {black;
}

ol {
   color: lightblue;

}

ul {
   color: dodgerblue ;

}
il {
  color: darkturquoise ;

}
