style.css

body {
   background-color: #F00 ;

 }
 hi {
    color: white;
    text-align: center;

 }

 h2 {
    color: darkblue  ;
    text-align: left;
}

 p {

    font: italic small-caps bold 16px/2 cursive;
}

ol {
   color: lightblue;

}

ul {
   color: dodgerblue ;

}
il {
  color: darkturquoise ;

}
