

body {
   background-color: #1E90FF ;
       }


 h1 {
    color: #DDA0DD ;
   
   

 }

 h2 {
    color: #OOFFFF ;
}

 p {
    color:     ;
}

ol {
   color: lightblue;

}

ul {
   color: lightblue ;

}
il {
  color: darkturquoise ;

}

